*{
	padding: 0;
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	color: #000;
}
html, body{
	width: 100%;
	height: 550px;
}
table{
	width: 100%;
	border-collapse: collapse;
	border: none;
}
h3{
	position: relative;
	color: white;
	background-color: rgb(100, 100, 200);
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}
ul li {
	list-style-type: none;
}
#box{
	margin: 0 auto;
	width: 90%;
	height: 100%;
	margin-top: 1.5%;
	background-color: skyblue;
}
#header{
	width: 100%;
	height: 10%;
	margin-bottom: 5px;
}
#header *{
	vertical-align: middle;
}
#header a{
	margin-top: 5px;
}
#cancel_btn, #final_submit_btn{
	float: right;
	width: 100px;
	height: 30px;
	background-image: url(img/btn1.png);
	background-size: 100% 100%;
	color: white;
	cursor: pointer;
	border:none;
	border-radius: 10px;
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
}
#total_amount{
	float: right;
	width: 200px;
	height: 30px;
	line-height: 30px;
	color: red;
	font-weight: bold;
	text-align: center;
}
#main{
	display: inline-block;
	width: 100%;
	height: 93%;
	font-size: 0;
}
#main p{
	color: rgb(100, 100, 200);
	font-weight: bold;
	display: inline-block;
}
#show_profile{
	width: 100%;
	height: 10%;
	font-size: 0;
	text-align: center;
}
#show_profile a{
	border: none;
	font-size: 1rem;
	margin-left: 2%;
	width: 96%;
	height: 80%;
}
#show_profile table{
	font-size: 1rem;
	height: 50%;
	border-color: black;
}
#show_products{
	width: calc(100% - 2px);
	height: calc(70% - 2px);
	font-size: 1rem;
	border: 1px solid black;
	overflow: auto;
	overflow-x: hidden;
}
#show_otherinfo{
	width: 100%;
	height: 20%;
	font-size: 0;
}
#otherinfo_div1{
	width: calc(50% - 1px);
	height: 100%;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	overflow: auto;
	display: inline-block;
	font-size: 1rem;
	background-color: skyblue;
}
#otherinfo_div2{
	width: calc(50% - 2px);
	height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	overflow: auto;
	display: inline-block;
	font-size: 1rem;
	vertical-align: top;
	background-color: skyblue;
}